.current-outing {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.current-outing__outing {
    align-items: center;
    background-color: #808080;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 350px;
    font-size: 20px;
    /*margin: 30px;*/


}

.current-outing__icon {
    height: auto;
    width: 40%;
}

.current-outing__temp, .current-outing__location {
    font-size: 25px;
    font-weight: 500;
    /*padding: 30px;*/
}

.current-outing__separator {
    background-color: #ffffff;
    height: 1px;
    margin-bottom: 10px;
    width: 90%;
}

.current-outing__stats {
    list-style: none;
     padding: 30px;
 }

a {
   color: #ffffff;

 }

.current-outing__stat {
    margin-bottom: 10px;
}

.current-outing__search-again {
    background-color: #00affa;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    height: 45px;
    margin-top: 20px;
    width: 100%;
}
